{% extends 'base.html' %}

{% block title %}
    Videos
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Watch Our Latest Videos!</h1>
        <p class="lead">Enjoy our curated video collection.</p>
    </div>

    <!-- Video list -->
    <div class="row">
        {% for video in videos %}
        <div class="col-md-6">
            <video width="100%" controls>
                <source src="{{ url_for('static', filename='videos/' + video['filename']) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        {% endfor %}
    </div>
{% endblock %}
